.form {
    display: flex;
    flex-direction: column;
    >* {
        margin-bottom: 1.6rem;
    }
}

.form__error {
    margin: 0 0 1.6rem 0;
    font-style: italic;
}

.text-input {
    height: 50px;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1.2rem;
    width: 100%;
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}